{% import "macros/form.html" as form %}

{% if "scheming_datasets" in g.plugins %}
    {% set field_name = field.field_name %}
    {% set label = field.label %}
    {% set form_placeholder = field.form_placeholder %}
    {% set classes = field.classes if "classes" in field else ["control-medium"] %}
    {% set form_attrs = field.get("form_attrs", {}) %}
    {% set is_required = h.scheming_field_required(field) %}
    {% set help_text = field.help_text %}
{% else %}
    {% set field_name = "access_rights" %}
    {% set label = "Access Rights" %}
    {% set form_placeholder = "" %}
    {% set classes = ["control-medium"] %}
    {% set form_attrs = {} %}
    {% set is_required = True %}
    {% set help_text = "" %}
{% endif %}

{% set options=[] %}
{% if not is_required %}
    {% do options.append({"value": "", "text": ""}) %}
{% endif %}
{% for c in h.ondc_choices({"field_name": field_name}) %}
    {% do options.append({
      "value": c.value|string,
      "text": c.label }) %}
{% endfor %}
{% if data[field_name] %}
    {% set option_selected = data[field_name]|string %}
{% else %}
    {% set option_selected = None %}
{% endif %}

{% call form.select(
    field_name,
    id="field-" + field_name,
    label=label,
    options=options,
    selected=option_selected,
    error=errors[field_name],
    classes=classes,
    attrs=dict({"class": "form-control form-select"}, **form_attrs),
    is_required=is_required
    ) %}

    {% if help_text %}
        {% set text = help_text %}
        {{ form.info(
            text=text|safe,
            inline=false
        ) }}
    {% endif %}
{% endcall %}